header {
    background-color : red;
    height: 100px;
    padding-top: 50px;
    text-align: left;
    font-size: 30px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
    float: left;
    height: 650px;
}
li {
    border-bottom: 2px solid black;
    font-size: 30px;
    text-align: center;
    display: flex;
}

div{
    background-color: green;
    height: 650px;
    display: flex;
}
h1{
    padding-top: 250px;
}
footer{
    background-color: pink;
    height: 100px;
}