.parent{
    border: 3px solid black;
    height: 600px;
    width: 600px;
}
.son1{
    box-sizing:border-box;
    float: right;
    margin-bottom:5px;
    width: auto;
    background-color: aqua;
    padding-top: 10px;
    padding-left:50px;
    padding-right:70px;
}

.son2{
    box-sizing:border-box;
    float: left;
    margin-bottom:5px;
    width: auto;
    background-color: aqua;
    padding-top: 10px;
    padding-right:50px;
    padding-left:5px;
}
.son3{
    box-sizing:border-box;
    float: right;
    margin-bottom:50px;
    width: auto;
    background-color: aqua;
    padding-left:50px;
    padding-right:70px;
}
.son4{
    box-sizing:border-box;
    float: left;
    margin-bottom:5px;
    width: auto;
    background-color: aqua;
    padding-top: 10px;
    padding-right:50px;
    padding-left:5px;
}

.son1 > img{
    width: 150px;
}
.son2 > img{
    display: inline-block;
    width: 150px;
}
.son3 > img{
    width: 150px;
}
.son4 > img{
    display: inline-block;
    width: 150px;
}

img{
    width: 150px;
    height:200px;
}
p{
    float:bottom;
    padding-right: 50px;
    padding-top: 10px;
}