.parent{
    border: 5px solid black;
    width: 300px;
    height: auto;
    display:block;
    background-color: yellow;
}
.son1{
    float: bottom;
    padding-top: 10px;
    padding-left: 10px;
}

.son2{
    float: bottom;
    padding-top: 10px;
    padding-left: 10px;
}
.son3{
    float: bottom;
    padding-top: 10px;
    padding-left: 10px;
}
.son4{
    float: bottom;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
img{
    width: 150px;
    height:200px;
}
p{
    float: right;
    padding-right: 50px;
    padding-top: 80px;
}